.navMargin{
    margin-bottom: 0.25em!important;
    margin-right: 1em!important;
    margin-left: 1em!important;
    margin-top: auto!important;
}

.searchMargin{
    margin-bottom: 0!important;
    margin-left: auto!important;
    margin-right: 2em!important;
    }

.mainContent{
    height: 100vh;
    min-height: min-content;
    background-image: linear-gradient(rgb(173, 208, 255), blue);
}

.current{
    margin-left: auto;
    margin-right: 215px;
}

.currentDetails{
    margin-top: 100px;
    margin-left: auto;
}

.icon{
    height: 200px;
    margin-left: -25%;
}

.card{
    margin-top: -60px;
    height: 85vh;
    min-height: min-content;
    width: 250px;
}

.date{
    font-size: 35px!important;
    color: rgb(173, 208, 255)!important;
}

.city{
    font-size: 80px!important;
    color: rgb(234, 241, 255)!important;
}

.sunDown{
    margin-left: 200px;
}

.suns{
    height: 50px;
}

.now{
    color: rgb(11,90,152)!important;
    font-size: 20px!important;
}

.temp{
    font-size: 50px!important;
    color: rgb(78,108,252)!important;
}

.times{
    margin-left: 20px!important;
    color: rgb(234, 241, 255)!important;
}

.flexDisplay{
    display: flex;
}
.centerAlign{
    align-items: center;
}
.topMarginAuto{
    margin-top: auto;
}

